{
    "openapi": "3.1.0",
    "info": {
        "title": "Real Time Streaming API",
        "version": "2.0"
    },
    "servers": [
        {
            "url": "https://ws.tryterra.co"
        }
    ],
    "components": {
        "securitySchemes": {
            "sec0": {
                "type": "http",
                "scheme": "basic"
            }
        }
    },
    "security": [
        {
            "sec0": []
        }
    ],
    "paths": {
        "/auth/developer": {
            "post": {
                "summary": "Stream - Generate developer token",
                "description": "Endpoint for generation of a token for a developer (consumer) connection",
                "operationId": "generate-developer-token",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"token\": \"cG9RvLY5.yvKm778XMIPm1ig93BJEoRCVGHzlrBNjzWdeXePTaMM\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "cG9RvLY5.yvKm778XMIPm1ig93BJEoRCVGHzlrBNjzWdeXePTaMM"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "403",
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "Result": {
                                        "value": ""
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/auth/user": {
            "post": {
                "summary": "Stream - Generate user token",
                "description": "Endpoint for generation of a token for a user (producer) connection",
                "operationId": "generate-user-token",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "The ID of the user to generate a token for",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"token\": \"OTYwNWFi5ZWQMTAxMjg0Y2Qw.gzrPzZcS3Gy8QDOxbiPRwu30PTB3VxW0eE\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "OTYwNWFi5ZWQMTAxMjg0Y2Qw.gzrPzZcS3Gy8QDOxbiPRwu30PTB3VxW0eE"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "403",
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "Result": {
                                        "value": ""
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        }
    }
}