{
    "openapi": "3.1.0",
    "info": {
        "title": "Terra API",
        "version": "2.0"
    },
    "servers": [
        {
            "url": "https://api.tryterra.co/v2"
        }
    ],
    "components": {
        "securitySchemes": {
            "sec0": {
                "type": "apiKey",
                "in": "header",
                "name": "x-api-key",
                "x-default": "ussv5SAQ53a1nNTxsMr9G41zj2KUhYMk5eDU1hjG"
            }
        }
    },
    "security": [
        {
            "sec0": []
        }
    ],
    "paths": {
        "/auth/generateWidgetSession": {
            "post": {
                "summary": "Connect Widget session",
                "description": "",
                "operationId": "generate-widget-session",
                "parameters": [
                    {
                        "name": "dev-id",
                        "in": "header",
                        "description": "Your Terra developer ID",
                        "schema": {
                            "type": "string",
                            "default": "testingTerra"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "providers": {
                                        "type": "string",
                                        "description": "Comma-separated list of providers you'd like displayed on the widget for the user. Leaving this empty will default to providers set in your dashboard settings under API > Connections",
                                        "default": "GARMIN,WITHINGS,FITBIT,GOOGLE,OURA,WAHOO,PELOTON,ZWIFT,TRAININGPEAKS,FREESTYLELIBRE,DEXCOM,COROS,HUAWEI,OMRON,RENPHO,POLAR,SUUNTO,EIGHT,APPLE,CONCEPT2,WHOOP,IFIT,TEMPO,CRONOMETER,FATSECRET,NUTRACHECK,UNDERARMOUR"
                                    },
                                    "reference_id": {
                                        "type": "string",
                                        "description": "An identifier to associate with the user being authenticated. This can be used to reconcile the user with your internal systems."
                                    },
                                    "auth_success_redirect_url": {
                                        "type": "string",
                                        "description": "URL for user redirection upon successful auth (supports deeplinks)"
                                    },
                                    "auth_failure_redirect_url": {
                                        "type": "string",
                                        "description": "URL for user redirection upon unsuccessful auth (supports deeplinks)"
                                    },
                                    "language": {
                                        "type": "string",
                                        "description": "The language you would like the widget to be displayed in",
                                        "default": "en",
                                        "enum": [
                                            "en",
                                            "es",
                                            "ar",
                                            "fi",
                                            "pt",
                                            "sv",
                                            "nl",
                                            "de",
                                            "fe",
                                            "vi",
                                            "zh",
                                            "zh-CN",
                                            "zh-HK"
                                        ]
                                    },
                                    "show_disconnect": {
                                        "type": "boolean",
                                        "description": "Whether to show the disconnect button once the user is connected"
                                    },
                                    "use_terra_avengers_app": {
                                        "type": "boolean",
                                        "description": "Whether to make use of the Terra Avengers app to authenticate users for access to Apple Health",
                                        "default": false
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"expires_in\": 900,\n  \"session_id\": \"0846d00a-6821-4606-a4f7-5ff077483e35\",\n  \"status\": \"success\",\n  \"url\": \"https://widget.tryterra.co/0846d00a-6821-4606-a4f7-5ff077483e35\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "expires_in": {
                                            "type": "integer",
                                            "example": 900,
                                            "default": 0
                                        },
                                        "session_id": {
                                            "type": "string",
                                            "example": "0846d00a-6821-4606-a4f7-5ff077483e35"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "url": {
                                            "type": "string",
                                            "example": "https://widget.tryterra.co/0846d00a-6821-4606-a4f7-5ff077483e35"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"error\",\n  \"message\": \"error message\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "error message"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"error\",\n  \"message\": \"Invalid dev-id was provided\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid dev-id was provided"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "python",
                            "code": "import requests\n\nurl = \"https://api.tryterra.co/v2/auth/generateWidgetSession\"\n\npayload = {\n    \"reference_id\": \"your_users_id\",\n    \"providers\": \"GARMIN,WITHINGS,FITBIT,GOOGLE,OURA,WAHOO,PELOTON,ZWIFT,TRAININGPEAKS,FREESTYLELIBRE,DEXCOM,COROS,HUAWEI,OMRON,RENPHO,POLAR,SUUNTO,EIGHT,APPLE,CONCEPT2,WHOOP,IFIT,TEMPO,CRONOMETER,FATSECRET,NUTRACHECK,UNDERARMOUR\",\n    \"language\": \"en\"\n}\nheaders = {\n    \"accept\": \"application/json\",\n    \"dev-id\": \"testingTerra\",\n    \"content-type\": \"application/json\",\n    \"x-api-key\": \"ussv5SAQ53a1nNTxsMr9G41zj2KUhYMk5eDU1hjG\"\n}\n\nresponse = requests.post(url, json=payload, headers=headers)\nresponse.raise_for_status()\n\nurl = response.json()[\"url\"]"
                        }
                    ],
                    "samples-languages": [
                        "python"
                    ]
                }
            }
        },
        "/auth/authenticateUser": {
            "post": {
                "summary": "Authenticate User",
                "description": "",
                "operationId": "authenticate-user",
                "parameters": [
                    {
                        "name": "resource",
                        "in": "query",
                        "description": "Resource (provider) to authenticate the user with. Can alternatively pass as a body parameter.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dev-id",
                        "in": "header",
                        "description": "Your Terra developer ID",
                        "schema": {
                            "type": "string",
                            "default": "testingTerra"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "reference_id": {
                                        "type": "string",
                                        "description": "An identifier to associate with the user being authenticated. This can be used to reconcile the user with your internal systems."
                                    },
                                    "auth_success_redirect_url": {
                                        "type": "string",
                                        "description": "URL for user redirection upon successful auth (supports deeplinks)"
                                    },
                                    "auth_failure_redirect_url": {
                                        "type": "string",
                                        "description": "URL for user redirection upon unsuccessful auth (supports deeplinks)"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"success\",\n  \"user_id\": \"695101aa-b696-4d33-aef0-4662f3e8a051\",\n\t\"auth_url\": \"https://www.fitbit.com/oauth2/authorize?extras=...\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "user_id": {
                                            "type": "string",
                                            "example": "695101aa-b696-4d33-aef0-4662f3e8a051"
                                        },
                                        "auth_url": {
                                            "type": "string",
                                            "example": "https://www.fitbit.com/oauth2/authorize?extras=..."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"error\",\n  \"message\": \"error message\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "error message"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "402",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"error\",\n  \"message\": \"Current user limit has been reached\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Current user limit has been reached"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"error\",\n  \"message\": \"Invalid dev-id was provided\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid dev-id was provided"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/auth/deauthenticateUser": {
            "delete": {
                "summary": "Deauthenticate User",
                "description": "",
                "operationId": "deauthenticate-user",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "The ID of the user to deauthenticate",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dev-id",
                        "in": "header",
                        "description": "Your Terra developer ID",
                        "schema": {
                            "type": "string",
                            "default": "testingTerra"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"success\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"error\",\n  \"message\": \"error message\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "error message"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"error\",\n  \"message\": \"error message\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "error message"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/activity": {
            "get": {
                "summary": "Get Activity Data",
                "description": "Get activity data for the given user ID.",
                "operationId": "get-activity-data",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "Id of the user to get data for",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Unix timestamp in seconds to get data since - also accepts date in YYYY-MM-DD format",
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "default": "2022-10-01"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "Unix timestamp in seconds to get data before - also accepts date in YYYY-MM-DD format (optional parameter - set to start_date + 1 day if not provided)",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to_webhook",
                        "in": "query",
                        "description": "Whether the data should be sent to the webhook URL",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "name": "with_samples",
                        "in": "query",
                        "description": "Whether the data should include samples",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "name": "dev-id",
                        "in": "header",
                        "description": "Your Terra developer ID",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"status\": \"success\",\n    \"type\": \"activity\",\n    \"user\":\n    {\n        \"last_webhook_update\": \"2022-09-28T18:52:47.327647+00:00\",\n        \"provider\": \"GOOGLE\",\n        \"user_id\": \"7b7446a2-0810-4066-9d6a-5e63ca86417a\"\n    },\n    \"data\": [\n    {\n        \"MET_data\":\n        {\n            \"MET_samples\": [\n            {\n                \"level\": 12.733629273561775,\n                \"timestamp\": \"2022-09-28T17:27:07.912257+00:00\"\n            },\n            {\n                \"level\": 9.385328320046186,\n                \"timestamp\": \"2022-09-28T17:35:07.912257+00:00\"\n            }],\n            \"avg_level\": 9.679094169344815,\n            \"num_high_intensity_minutes\": 0.4371541101519826,\n            \"num_inactive_minutes\": 14.767379852724254,\n            \"num_low_intensity_minutes\": 37.56745872338137,\n            \"num_moderate_intensity_minutes\": 75.6668187328411\n        },\n        \"TSS_data\":\n        {\n            \"TSS_samples\": []\n        },\n        \"active_durations_data\":\n        {\n            \"activity_levels_samples\": [\n            {\n                \"activity_level\": 1,\n                \"timestamp\": \"2022-09-28T17:27:07.912257+00:00\"\n            },\n            {\n                \"activity_level\": 0,\n                \"timestamp\": \"2022-09-28T17:35:07.912257+00:00\"\n            },\n            {\n                \"activity_level\": 4,\n                \"timestamp\": \"2022-09-28T17:43:07.912257+00:00\"\n            }],\n            \"activity_seconds\": 1292.7589249142395,\n            \"inactivity_seconds\": 645.014700801715,\n            \"low_intensity_seconds\": 1350.7084171907497,\n            \"moderate_intensity_seconds\": 570.1258166345667,\n            \"num_continuous_inactive_periods\": 4,\n            \"rest_seconds\": 4398.477669718266,\n            \"vigorous_intensity_seconds\": 2592.514196276477\n        },\n        \"calories_data\":\n        {\n            \"BMR_calories\": 1593.5207769853832,\n            \"net_activity_calories\": 337.9850735564615,\n            \"net_intake_calories\": 247.97335474177268,\n            \"total_burned_calories\": 1624.4041050159524\n        },\n        \"device_data\":\n        {\n            \"activation_timestamp\": null,\n            \"hardware_version\": null,\n            \"manufacturer\": null,\n            \"name\": null,\n            \"other_devices\": [],\n            \"serial_number\": null,\n            \"software_version\": null\n        },\n        \"distance_data\":\n        {\n            \"detailed\":\n            {\n                \"distance_samples\": [\n                {\n                    \"distance_meters\": 0,\n                    \"timer_duration_seconds\": 0,\n                    \"timestamp\": \"2022-09-28T17:27:07.912257+00:00\"\n                },\n                {\n                    \"distance_meters\": 20.56520150768769,\n                    \"timer_duration_seconds\": 8,\n                    \"timestamp\": \"2022-09-28T17:35:07.912257+00:00\"\n                }],\n                \"elevation_samples\": [\n                {\n                    \"elev_meters\": 0,\n                    \"timer_duration_seconds\": 0,\n                    \"timestamp\": \"2022-09-28T17:27:07.912257+00:00\"\n                },\n                {\n                    \"elev_meters\": 44.29898767009681,\n                    \"timer_duration_seconds\": 8,\n                    \"timestamp\": \"2022-09-28T17:35:07.912257+00:00\"\n                },\n                {\n                    \"elev_meters\": 73.59950555839598,\n                    \"timer_duration_seconds\": 16,\n                    \"timestamp\": \"2022-09-28T17:43:07.912257+00:00\"\n                },\n                {\n                    \"elev_meters\": 131.7787491703965,\n                    \"timer_duration_seconds\": 24,\n                    \"timestamp\": \"2022-09-28T17:51:07.912257+00:00\"\n                }],\n                \"floors_climbed_samples\": [\n                {\n                    \"floors_climbed\": 0,\n                    \"timer_duration_seconds\": 0,\n                    \"timestamp\": \"2022-09-28T17:27:07.912257+00:00\"\n                },\n                {\n                    \"floors_climbed\": 58.44460906097681,\n                    \"timer_duration_seconds\": 8,\n                    \"timestamp\": \"2022-09-28T17:35:07.912257+00:00\"\n                },\n                {\n                    \"floors_climbed\": 101.01612386325466,\n                    \"timer_duration_seconds\": 16,\n                    \"timestamp\": \"2022-09-28T17:43:07.912257+00:00\"\n                }],\n                \"step_samples\": []\n            },\n            \"summary\":\n            {\n                \"distance_meters\": 243.7904398017779,\n                \"elevation\":\n                {\n                    \"avg_meters\": 100,\n                    \"gain_actual_meters\": 123,\n                    \"gain_planned_meters\": 1023,\n                    \"loss_actual_meters\": 40,\n                    \"max_meters\": 53.321975039453484,\n                    \"min_meters\": 24.702527934425255\n                },\n                \"floors_climbed\": 8,\n                \"steps\": 4046,\n                \"swimming\":\n                {\n                    \"num_laps\": 9,\n                    \"num_strokes\": 159,\n                    \"pool_length_meters\": 100\n                }\n            }\n        },\n        \"energy_data\":\n        {\n            \"energy_kilojoules\": 100,\n            \"energy_planned_kilojoules\": 200\n        },\n        \"heart_rate_data\":\n        {\n            \"detailed\":\n            {\n                \"hr_samples\": [\n                {\n                    \"bpm\": 148,\n                    \"timestamp\": \"2022-09-28T17:27:07.912257+00:00\"\n                },\n                {\n                    \"bpm\": 143,\n                    \"timestamp\": \"2022-09-28T17:35:07.912257+00:00\"\n                },\n                {\n                    \"bpm\": 79,\n                    \"timestamp\": \"2022-09-28T17:43:07.912257+00:00\"\n                },\n                {\n                    \"bpm\": 141,\n                    \"timestamp\": \"2022-09-28T17:51:07.912257+00:00\"\n                }],\n                \"hrv_samples_rmssd\": [\n                {\n                    \"hrv_rmssd\": 60,\n                    \"timestamp\": \"2022-09-28T17:27:07.912257+00:00\"\n                },\n                {\n                    \"hrv_rmssd\": 97,\n                    \"timestamp\": \"2022-09-28T17:35:07.912257+00:00\"\n                },\n                {\n                    \"hrv_rmssd\": 38,\n                    \"timestamp\": \"2022-09-28T17:43:07.912257+00:00\"\n                }],\n                \"hrv_samples_sdnn\": [\n                {\n                    \"hrv_sdnn\": 36,\n                    \"timestamp\": \"2022-09-28T17:27:07.912257+00:00\"\n                },\n                {\n                    \"hrv_sdnn\": 46,\n                    \"timestamp\": \"2022-09-28T17:35:07.912257+00:00\"\n                },\n                {\n                    \"hrv_sdnn\": 46,\n                    \"timestamp\": \"2022-09-28T17:43:07.912257+00:00\"\n                }]\n            },\n            \"summary\":\n            {\n                \"avg_hr_bpm\": 51.1863496185215,\n                \"avg_hrv_rmssd\": 69.48967449349433,\n                \"avg_hrv_sdnn\": 39.897222013341846,\n                \"max_hr_bpm\": 121.86958509424485,\n                \"min_hr_bpm\": 138.40975235604645,\n                \"resting_hr_bpm\": 50.69533018187264,\n                \"user_max_hr_bpm\": 214\n            }\n        },\n        \"lap_data\":\n        {\n            \"laps\": []\n        },\n        \"metadata\":\n        {\n            \"city\": null,\n            \"country\": null,\n            \"end_time\": \"2022-09-28T18:54:07.912257+00:00\",\n            \"name\": \"Gymnastics\",\n            \"start_time\": \"2022-09-28T17:27:07.912257+00:00\",\n            \"state\": null,\n            \"summary_id\": \"43816596977\",\n            \"type\": 116,\n            \"upload_type\": 2\n        },\n        \"movement_data\":\n        {\n            \"avg_cadence_rpm\": 45.275018243996335,\n            \"avg_pace_minutes_per_kilometer\": 120,\n            \"avg_speed_meters_per_second\": 14.567793836115161,\n            \"avg_torque_newton_meters\": 16.235760682099098,\n            \"avg_velocity_meters_per_second\": 5.239586192431977,\n            \"cadence_samples\": [],\n            \"max_cadence_rpm\": 28.131029187353498,\n            \"max_pace_minutes_per_kilometer\": 4,\n            \"max_speed_meters_per_second\": 13.653427360982016,\n            \"max_torque_newton_meters\": 14.65254119638593,\n            \"max_velocity_meters_per_second\": 5.190460728184831,\n            \"normalized_speed_meters_per_second\": 4.880985177878866,\n            \"speed_samples\": [\n            {\n                \"speed_meters_per_second\": 5.760454971406549,\n                \"timer_duration_seconds\": 1,\n                \"timestamp\": \"2022-09-28T17:27:07.912257+00:00\"\n            },\n            {\n                \"speed_meters_per_second\": 6.146317442178509,\n                \"timer_duration_seconds\": 2,\n                \"timestamp\": \"2022-09-28T17:35:07.912257+00:00\"\n            }]\n        },\n        \"oxygen_data\":\n        {\n            \"avg_saturation_percentage\": 78.28867666065884,\n            \"saturation_samples\": [],\n            \"vo2_samples\": [],\n            \"vo2max_ml_per_min_per_kg\": 40\n        },\n        \"polyline_map_data\":\n        {\n            \"summary_polyline\": null\n        },\n        \"position_data\":\n        {\n            \"center_pos_lat_lng_deg\": [],\n            \"end_pos_lat_lng_deg\": [52.18186052697878, 1.2170514397208172],\n            \"position_samples\": [\n            {\n                \"coords_lat_lng_deg\": [52.75537663739251, 1.0002084534121405],\n                \"timer_duration_seconds\": 0,\n                \"timestamp\": \"2022-09-28T17:27:07.912257+00:00\"\n            },\n            {\n                \"coords_lat_lng_deg\": [52.63696867651716, 1.2064209901542269],\n                \"timer_duration_seconds\": 8,\n                \"timestamp\": \"2022-09-28T17:35:07.912257+00:00\"\n            }],\n            \"start_pos_lat_lng_deg\": [52.70218850716375, 0.7423284032116376]\n        },\n        \"power_data\":\n        {\n            \"avg_watts\": 37.117310006036206,\n            \"max_watts\": 46.02213213899855,\n            \"power_samples\": [\n            {\n                \"timer_duration_seconds\": 0,\n                \"timestamp\": \"2022-09-28T17:27:07.912257+00:00\",\n                \"watts\": 13.027295506685611\n            },\n            {\n                \"timer_duration_seconds\": 8,\n                \"timestamp\": \"2022-09-28T17:35:07.912257+00:00\",\n                \"watts\": 50.04730674523283\n            },\n            {\n                \"timer_duration_seconds\": 16,\n                \"timestamp\": \"2022-09-28T17:43:07.912257+00:00\",\n                \"watts\": 44.18987122928685\n            },\n            {\n                \"timer_duration_seconds\": 24,\n                \"timestamp\": \"2022-09-28T17:51:07.912257+00:00\",\n                \"watts\": 17.92417261585407\n            }]\n        },\n        \"strain_data\":\n        {\n            \"strain_level\": 1.0654563892041213\n        },\n        \"work_data\":\n        {\n            \"work_kilojoules\": 1023\n        }\n    }]\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "activity"
                                        },
                                        "user": {
                                            "type": "object",
                                            "properties": {
                                                "last_webhook_update": {
                                                    "type": "string",
                                                    "example": "2022-09-28T18:52:47.327647+00:00"
                                                },
                                                "provider": {
                                                    "type": "string",
                                                    "example": "GOOGLE"
                                                },
                                                "user_id": {
                                                    "type": "string",
                                                    "example": "7b7446a2-0810-4066-9d6a-5e63ca86417a"
                                                }
                                            }
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "MET_data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "MET_samples": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "level": {
                                                                            "type": "number",
                                                                            "example": 12.733629273561775,
                                                                            "default": 0
                                                                        },
                                                                        "timestamp": {
                                                                            "type": "string",
                                                                            "example": "2022-09-28T17:27:07.912257+00:00"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "avg_level": {
                                                                "type": "number",
                                                                "example": 9.679094169344815,
                                                                "default": 0
                                                            },
                                                            "num_high_intensity_minutes": {
                                                                "type": "number",
                                                                "example": 0.4371541101519826,
                                                                "default": 0
                                                            },
                                                            "num_inactive_minutes": {
                                                                "type": "number",
                                                                "example": 14.767379852724254,
                                                                "default": 0
                                                            },
                                                            "num_low_intensity_minutes": {
                                                                "type": "number",
                                                                "example": 37.56745872338137,
                                                                "default": 0
                                                            },
                                                            "num_moderate_intensity_minutes": {
                                                                "type": "number",
                                                                "example": 75.6668187328411,
                                                                "default": 0
                                                            }
                                                        }
                                                    },
                                                    "TSS_data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "TSS_samples": {
                                                                "type": "array"
                                                            }
                                                        }
                                                    },
                                                    "active_durations_data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "activity_levels_samples": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "activity_level": {
                                                                            "type": "integer",
                                                                            "example": 1,
                                                                            "default": 0
                                                                        },
                                                                        "timestamp": {
                                                                            "type": "string",
                                                                            "example": "2022-09-28T17:27:07.912257+00:00"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "activity_seconds": {
                                                                "type": "number",
                                                                "example": 1292.7589249142395,
                                                                "default": 0
                                                            },
                                                            "inactivity_seconds": {
                                                                "type": "number",
                                                                "example": 645.014700801715,
                                                                "default": 0
                                                            },
                                                            "low_intensity_seconds": {
                                                                "type": "number",
                                                                "example": 1350.7084171907497,
                                                                "default": 0
                                                            },
                                                            "moderate_intensity_seconds": {
                                                                "type": "number",
                                                                "example": 570.1258166345667,
                                                                "default": 0
                                                            },
                                                            "num_continuous_inactive_periods": {
                                                                "type": "integer",
                                                                "example": 4,
                                                                "default": 0
                                                            },
                                                            "rest_seconds": {
                                                                "type": "number",
                                                                "example": 4398.477669718266,
                                                                "default": 0
                                                            },
                                                            "vigorous_intensity_seconds": {
                                                                "type": "number",
                                                                "example": 2592.514196276477,
                                                                "default": 0
                                                            }
                                                        }
                                                    },
                                                    "calories_data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "BMR_calories": {
                                                                "type": "number",
                                                                "example": 1593.5207769853832,
                                                                "default": 0
                                                            },
                                                            "net_activity_calories": {
                                                                "type": "number",
                                                                "example": 337.9850735564615,
                                                                "default": 0
                                                            },
                                                            "net_intake_calories": {
                                                                "type": "number",
                                                                "example": 247.97335474177268,
                                                                "default": 0
                                                            },
                                                            "total_burned_calories": {
                                                                "type": "number",
                                                                "example": 1624.4041050159524,
                                                                "default": 0
                                                            }
                                                        }
                                                    },
                                                    "device_data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "activation_timestamp": {},
                                                            "hardware_version": {},
                                                            "manufacturer": {},
                                                            "name": {},
                                                            "other_devices": {
                                                                "type": "array"
                                                            },
                                                            "serial_number": {},
                                                            "software_version": {}
                                                        }
                                                    },
                                                    "distance_data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "detailed": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "distance_samples": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "distance_meters": {
                                                                                    "type": "integer",
                                                                                    "example": 0,
                                                                                    "default": 0
                                                                                },
                                                                                "timer_duration_seconds": {
                                                                                    "type": "integer",
                                                                                    "example": 0,
                                                                                    "default": 0
                                                                                },
                                                                                "timestamp": {
                                                                                    "type": "string",
                                                                                    "example": "2022-09-28T17:27:07.912257+00:00"
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "elevation_samples": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "elev_meters": {
                                                                                    "type": "integer",
                                                                                    "example": 0,
                                                                                    "default": 0
                                                                                },
                                                                                "timer_duration_seconds": {
                                                                                    "type": "integer",
                                                                                    "example": 0,
                                                                                    "default": 0
                                                                                },
                                                                                "timestamp": {
                                                                                    "type": "string",
                                                                                    "example": "2022-09-28T17:27:07.912257+00:00"
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "floors_climbed_samples": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "floors_climbed": {
                                                                                    "type": "integer",
                                                                                    "example": 0,
                                                                                    "default": 0
                                                                                },
                                                                                "timer_duration_seconds": {
                                                                                    "type": "integer",
                                                                                    "example": 0,
                                                                                    "default": 0
                                                                                },
                                                                                "timestamp": {
                                                                                    "type": "string",
                                                                                    "example": "2022-09-28T17:27:07.912257+00:00"
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "step_samples": {
                                                                        "type": "array"
                                                                    }
                                                                }
                                                            },
                                                            "summary": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "distance_meters": {
                                                                        "type": "number",
                                                                        "example": 243.7904398017779,
                                                                        "default": 0
                                                                    },
                                                                    "elevation": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "avg_meters": {
                                                                                "type": "integer",
                                                                                "example": 100,
                                                                                "default": 0
                                                                            },
                                                                            "gain_actual_meters": {
                                                                                "type": "integer",
                                                                                "example": 123,
                                                                                "default": 0
                                                                            },
                                                                            "gain_planned_meters": {
                                                                                "type": "integer",
                                                                                "example": 1023,
                                                                                "default": 0
                                                                            },
                                                                            "loss_actual_meters": {
                                                                                "type": "integer",
                                                                                "example": 40,
                                                                                "default": 0
                                                                            },
                                                                            "max_meters": {
                                                                                "type": "number",
                                                                                "example": 53.321975039453484,
                                                                                "default": 0
                                                                            },
                                                                            "min_meters": {
                                                                                "type": "number",
                                                                                "example": 24.702527934425255,
                                                                                "default": 0
                                                                            }
                                                                        }
                                                                    },
                                                                    "floors_climbed": {
                                                                        "type": "integer",
                                                                        "example": 8,
                                                                        "default": 0
                                                                    },
                                                                    "steps": {
                                                                        "type": "integer",
                                                                        "example": 4046,
                                                                        "default": 0
                                                                    },
                                                                    "swimming": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "num_laps": {
                                                                                "type": "integer",
                                                                                "example": 9,
                                                                                "default": 0
                                                                            },
                                                                            "num_strokes": {
                                                                                "type": "integer",
                                                                                "example": 159,
                                                                                "default": 0
                                                                            },
                                                                            "pool_length_meters": {
                                                                                "type": "integer",
                                                                                "example": 100,
                                                                                "default": 0
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "energy_data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "energy_kilojoules": {
                                                                "type": "integer",
                                                                "example": 100,
                                                                "default": 0
                                                            },
                                                            "energy_planned_kilojoules": {
                                                                "type": "integer",
                                                                "example": 200,
                                                                "default": 0
                                                            }
                                                        }
                                                    },
                                                    "heart_rate_data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "detailed": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "hr_samples": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "bpm": {
                                                                                    "type": "integer",
                                                                                    "example": 148,
                                                                                    "default": 0
                                                                                },
                                                                                "timestamp": {
                                                                                    "type": "string",
                                                                                    "example": "2022-09-28T17:27:07.912257+00:00"
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "hrv_samples_rmssd": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "hrv_rmssd": {
                                                                                    "type": "integer",
                                                                                    "example": 60,
                                                                                    "default": 0
                                                                                },
                                                                                "timestamp": {
                                                                                    "type": "string",
                                                                                    "example": "2022-09-28T17:27:07.912257+00:00"
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "hrv_samples_sdnn": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "hrv_sdnn": {
                                                                                    "type": "integer",
                                                                                    "example": 36,
                                                                                    "default": 0
                                                                                },
                                                                                "timestamp": {
                                                                                    "type": "string",
                                                                                    "example": "2022-09-28T17:27:07.912257+00:00"
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "summary": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "avg_hr_bpm": {
                                                                        "type": "number",
                                                                        "example": 51.1863496185215,
                                                                        "default": 0
                                                                    },
                                                                    "avg_hrv_rmssd": {
                                                                        "type": "number",
                                                                        "example": 69.48967449349433,
                                                                        "default": 0
                                                                    },
                                                                    "avg_hrv_sdnn": {
                                                                        "type": "number",
                                                                        "example": 39.897222013341846,
                                                                        "default": 0
                                                                    },
                                                                    "max_hr_bpm": {
                                                                        "type": "number",
                                                                        "example": 121.86958509424485,
                                                                        "default": 0
                                                                    },
                                                                    "min_hr_bpm": {
                                                                        "type": "number",
                                                                        "example": 138.40975235604645,
                                                                        "default": 0
                                                                    },
                                                                    "resting_hr_bpm": {
                                                                        "type": "number",
                                                                        "example": 50.69533018187264,
                                                                        "default": 0
                                                                    },
                                                                    "user_max_hr_bpm": {
                                                                        "type": "integer",
                                                                        "example": 214,
                                                                        "default": 0
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "lap_data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "laps": {
                                                                "type": "array"
                                                            }
                                                        }
                                                    },
                                                    "metadata": {
                                                        "type": "object",
                                                        "properties": {
                                                            "city": {},
                                                            "country": {},
                                                            "end_time": {
                                                                "type": "string",
                                                                "example": "2022-09-28T18:54:07.912257+00:00"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Gymnastics"
                                                            },
                                                            "start_time": {
                                                                "type": "string",
                                                                "example": "2022-09-28T17:27:07.912257+00:00"
                                                            },
                                                            "state": {},
                                                            "summary_id": {
                                                                "type": "string",
                                                                "example": "43816596977"
                                                            },
                                                            "type": {
                                                                "type": "integer",
                                                                "example": 116,
                                                                "default": 0
                                                            },
                                                            "upload_type": {
                                                                "type": "integer",
                                                                "example": 2,
                                                                "default": 0
                                                            }
                                                        }
                                                    },
                                                    "movement_data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "avg_cadence_rpm": {
                                                                "type": "number",
                                                                "example": 45.275018243996335,
                                                                "default": 0
                                                            },
                                                            "avg_pace_minutes_per_kilometer": {
                                                                "type": "integer",
                                                                "example": 120,
                                                                "default": 0
                                                            },
                                                            "avg_speed_meters_per_second": {
                                                                "type": "number",
                                                                "example": 14.567793836115161,
                                                                "default": 0
                                                            },
                                                            "avg_torque_newton_meters": {
                                                                "type": "number",
                                                                "example": 16.235760682099098,
                                                                "default": 0
                                                            },
                                                            "avg_velocity_meters_per_second": {
                                                                "type": "number",
                                                                "example": 5.239586192431977,
                                                                "default": 0
                                                            },
                                                            "cadence_samples": {
                                                                "type": "array"
                                                            },
                                                            "max_cadence_rpm": {
                                                                "type": "number",
                                                                "example": 28.131029187353498,
                                                                "default": 0
                                                            },
                                                            "max_pace_minutes_per_kilometer": {
                                                                "type": "integer",
                                                                "example": 4,
                                                                "default": 0
                                                            },
                                                            "max_speed_meters_per_second": {
                                                                "type": "number",
                                                                "example": 13.653427360982016,
                                                                "default": 0
                                                            },
                                                            "max_torque_newton_meters": {
                                                                "type": "number",
                                                                "example": 14.65254119638593,
                                                                "default": 0
                                                            },
                                                            "max_velocity_meters_per_second": {
                                                                "type": "number",
                                                                "example": 5.190460728184831,
                                                                "default": 0
                                                            },
                                                            "normalized_speed_meters_per_second": {
                                                                "type": "number",
                                                                "example": 4.880985177878866,
                                                                "default": 0
                                                            },
                                                            "speed_samples": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "speed_meters_per_second": {
                                                                            "type": "number",
                                                                            "example": 5.760454971406549,
                                                                            "default": 0
                                                                        },
                                                                        "timer_duration_seconds": {
                                                                            "type": "integer",
                                                                            "example": 1,
                                                                            "default": 0
                                                                        },
                                                                        "timestamp": {
                                                                            "type": "string",
                                                                            "example": "2022-09-28T17:27:07.912257+00:00"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "oxygen_data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "avg_saturation_percentage": {
                                                                "type": "number",
                                                                "example": 78.28867666065884,
                                                                "default": 0
                                                            },
                                                            "saturation_samples": {
                                                                "type": "array"
                                                            },
                                                            "vo2_samples": {
                                                                "type": "array"
                                                            },
                                                            "vo2max_ml_per_min_per_kg": {
                                                                "type": "integer",
                                                                "example": 40,
                                                                "default": 0
                                                            }
                                                        }
                                                    },
                                                    "polyline_map_data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "summary_polyline": {}
                                                        }
                                                    },
                                                    "position_data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "center_pos_lat_lng_deg": {
                                                                "type": "array"
                                                            },
                                                            "end_pos_lat_lng_deg": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "number",
                                                                    "example": 52.18186052697878,
                                                                    "default": 0
                                                                }
                                                            },
                                                            "position_samples": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "coords_lat_lng_deg": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "number",
                                                                                "example": 52.75537663739251,
                                                                                "default": 0
                                                                            }
                                                                        },
                                                                        "timer_duration_seconds": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "timestamp": {
                                                                            "type": "string",
                                                                            "example": "2022-09-28T17:27:07.912257+00:00"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "start_pos_lat_lng_deg": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "number",
                                                                    "example": 52.70218850716375,
                                                                    "default": 0
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "power_data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "avg_watts": {
                                                                "type": "number",
                                                                "example": 37.117310006036206,
                                                                "default": 0
                                                            },
                                                            "max_watts": {
                                                                "type": "number",
                                                                "example": 46.02213213899855,
                                                                "default": 0
                                                            },
                                                            "power_samples": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "timer_duration_seconds": {
                                                                            "type": "integer",
                                                                            "example": 0,
                                                                            "default": 0
                                                                        },
                                                                        "timestamp": {
                                                                            "type": "string",
                                                                            "example": "2022-09-28T17:27:07.912257+00:00"
                                                                        },
                                                                        "watts": {
                                                                            "type": "number",
                                                                            "example": 13.027295506685611,
                                                                            "default": 0
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "strain_data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "strain_level": {
                                                                "type": "number",
                                                                "example": 1.0654563892041213,
                                                                "default": 0
                                                            }
                                                        }
                                                    },
                                                    "work_data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "work_kilojoules": {
                                                                "type": "integer",
                                                                "example": 1023,
                                                                "default": 0
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"message\": \"error message\",\n  \"status\": \"error\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "error message"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"error\",\n  \"message\": \"User has not completed authentication\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User has not completed authentication"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"message\": \"error message\",\n  \"status\": \"error\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "error message"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/athlete": {
            "get": {
                "summary": "Get Athlete Data",
                "description": "Get the athlete data for the given user ID. This endpoint returns data in a different format to that seen in the primer section.",
                "operationId": "get-athlete-data",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "ID of the user to get data for",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dev-id",
                        "in": "header",
                        "description": "Your Terra developer ID",
                        "schema": {
                            "type": "string",
                            "default": "testingTerra"
                        }
                    },
                    {
                        "name": "to_webhook",
[...]
